.counter {
   padding: 10px;
   min-height: 50px;
   min-width: 100px;
   width: max-content;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #d3d3d3;
   background-color: #ffffff;
   font-size: 16px;

   button {
      display: flex;
      align-items: center;
   }

   svg {
      width: 18px;
   }

   input {
      flex: 1 1 auto;
      text-align: center;
   }
}