.orders {

   &__container {}

   &__item {
      &.js-tabs-open {
         .orders__item-button {
            svg {
               transform: rotate3d(1, 0, 0, 180deg);
            }
         }
      }

   }

   &__item-button {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      font-size: 20px;

      svg {
         width: 19px;
         height: 19px;
         transition: transform 0.3s;
      }
   }


   &__tab {
      border-bottom: 1px solid #d3d3d3;

      &.js-tabs-open {
         .orders__tab-button {
            svg {
               transform: rotate3d(1, 0, 0, 180deg);
            }
         }

      }
   }

   &__tab-button {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      font-size: 16px;

      svg {
         width: 19px;
         height: 19px;
         transition: transform 0.3s;
      }
   }

   &__tab-button-text {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .text-bold {
         font-weight: 600;
      }
   }

   &__status {
      padding: 4px 8px;
      background-color: #e3e3e3;
   }

   &__tab-inner {
      padding-bottom: 34px;
   }
}