.aboute-us {

   &__cell {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__cell-img {
      position: relative;
      padding-bottom: 135.438%;
      height: 100%;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;

      }

      svg {
         max-width: 100%;
         height: auto;
      }

   }

   &__cell-text {
      margin-bottom: 1em;
      font-size: 16px;
      line-height: 150%;

      p:not(:last-child) {
         margin-bottom: 1em;
      }
   }
}