.aboute-us {

   &__cell {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__cell-mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .aboute-us__cell-img {
         padding-bottom: 116%;
      }

      @media (min-width:768px) {
         display: none;
      }
   }

   &__cell-img {
      padding-bottom: 102%;
      position: relative;
      height: 100%;

      @media (min-width:768px) {
         padding-bottom: 135.438%;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      svg {
         max-width: 100%;
         height: auto;
      }

   }

   &__cell-text {
      margin-bottom: 1em;
      font-size: 16px;
      line-height: 150%;

      p:not(:last-child) {
         margin-bottom: 1em;
      }
   }
}