@use '../../scss/assets/mixin.scss' as *;

.block-department {
   background-color: #F0F0F0;

   &__container {}

   &__body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__card {
      display: flex;
      flex-direction: column;
   }

   &__title {
      flex: 1 1 auto;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 119%;

      @include size_adaptive (font-size, 24, 42, 768, 1024);

      @media (min-width:768px) {
         margin-bottom: 24px;
      }

      @media (min-width:1024px) {
         font-size: 42px;
      }
   }

   &__image {
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 76.5%;
      overflow: hidden;

      @media (min-width:768px) {
         margin-bottom: 24px;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__text {
      font-weight: 500;
      font-size: 14px;

      @media (min-width:768px) {
         font-size: 16px;
      }
   }
}