@use '../../../../scss/assets/variablesSCSS.scss' as *;

.card-news {
   padding: 24px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   color: #ffffff;
   background: linear-gradient(180deg, transparent 0%, transparent 50%, #000000 100%);
   line-height: 185%;
   overflow: hidden;
   min-height: calc((100vw - var(--padding-container) * 2) * 1.238);

   @media (min-width:768px) {
      min-height: calc((100vw - var(--padding-container) * 2 - 40px) / 3 * 1.238);
   }

   @media (min-width: $max-width-container) {
      min-height: calc((var(--container-width) - 40px) / 3 * 1.238);
   }

   img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      transition: transform $tr-time-l;
   }

   &__date {
      margin-bottom: 12px;
      font-size: 12px;
      letter-spacing: -0.01em;
   }

   &__title {
      font-size: 20px;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color $tr-time;
      // text-decoration-skip-ink: none;
   }

   &:hover {
      img {
         transform: translate(-50%, -50%) scale(1.1);
      }

      .card-news__title {
         text-decoration-color: inherit;
      }
   }
}