.block-team {
   position: relative;

   &__container {}

   &__body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;

      @media (min-width:768px) {
         gap: 20px;
         grid-template-columns: 1fr 1fr;
      }

      img {
         width: 100%;
      }
   }

   &__small {
      @media (min-width:768px) {
         max-width: 83%;
      }
   }

   &__large {}

   &__title {
      margin-top: 20px;
      font-weight: 600;
      font-size: 24px;

      @media (min-width:768px) {
         margin-top: 30px;
      }
   }

   &__text {
      margin-top: 8px;
      font-weight: 300;
      font-size: 14px;
      line-height: 171%;

      @media (min-width:768px) {
         margin-top: 12px;
      }
   }

   &__contour {
      display: none;
      position: absolute;
      bottom: 50px;
      left: 0;

      @media (min-width:1024px) {
         display: block;
      }
   }
}