@use '../../../../scss/assets/variablesSCSS.scss' as *;

.card-link {
   display: flex;
   flex-direction: column;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: -0.01em;
   background-color: #F0F0F0;

   &__image {
      position: relative;
      padding-bottom: 118.947%;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__footer {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      min-height: 77px;
      border-bottom: 1px solid #004A5E;
   }

   &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--size, 30px);
      min-width: var(--size, 30px);
      width: var(--size, 30px);
      background-color: #004A5E;
      opacity: 0;
      transition: $tr-time;

      svg {
         width: 66%;
      }
   }

   &:hover {
      .card-link__arrow {
         opacity: 1;
      }
   }
}