.material {
   position: relative;
   background-color: #F0F0F0;

   &__body {
      border-bottom: 1px solid #d3d3d3;
      background-color: #F0F0F0;

      &>* {
         position: relative;
         z-index: 1;
      }
   }

   &__button {
      padding: 25px 0;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      font-size: 20px;
   }

   &__block {
      display: flex;
      flex-direction: column;
      gap: 34px;

      @media (min-width:1024px) {
         flex-direction: row;
      }

      &:not(:last-child) {
         border-bottom: 1px solid #d3d3d3;
         margin-bottom: 40px;
      }
   }

   &__info {
      display: flex;
      gap: 16px;

      @media (min-width:1024px) {
         flex: 0 0 460px;
      }
   }

   &__image {
      flex: 0 0 140px;
   }

   &__image-shell {
      position: relative;
      padding-bottom: 83%;
      overflow: hidden;
      background-color: #ffffff;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

   }

   &__description {
      max-width: 230px;
   }

   &__description-title {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 12px;
      opacity: 0.5;
   }

   &__description-text {
      margin-bottom: 11px;
      font-weight: 500;
      font-size: 14px;
   }

   &__description-block {
      display: flex;
      gap: 32px;
   }

   &__select {
      flex: 1 1 auto;
   }

   &__select-group {
      margin-bottom: 34px;

      @media (min-width:1024px) {
         margin-bottom: 26px;
      }
   }

   &__select-number {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
   }

   &__select-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
   }

   &__select-item {
      cursor: pointer;
      font-size: 13px;

      input {
         display: none;

         &:checked+* .material__select-item-image::before {
            opacity: 1;
         }
      }
   }

   &__select-item-image {
      position: relative;
      margin-bottom: 5px;
      display: block;
      width: 45px;
      max-width: 45px;

      img {
         width: 100%;
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border: 4px solid #0098C2;
         z-index: 1;
         opacity: 0;
         transition: opacity 0.3s;
      }

   }

   &__select-item-visual {
      position: relative;

      img {
         margin-bottom: 4px;
         width: 100%;
      }
   }

   &__form-buttons {
      padding-bottom: 40px;
      margin-top: 40px;
      display: flex;
      gap: 10px;
   }
}