.production {
   &__banner {
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;
      width: 100%;

      @media (min-width:768px) {
         padding: 0;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;

         @media (min-width:768px) {
            position: static;
            transform: translate(0);
         }

      }
   }
}