.project {
   &__text {
      font-size: 14px;
      line-height: 137%;
      letter-spacing: -0.01em;

      @media (min-width:768px) {
         font-size: 16px;
      }

      p {
         &:not(:last-child) {
            margin-bottom: 1em;
         }
      }

      &.padding-section {
         @media (max-width:991.98px) {
            padding-top: 20px;
            padding-bottom: 20px;

            &:last-child {
               padding-bottom: 40px;
            }
         }
      }
   }
}