@use '../../../scss/assets/variablesSCSS.scss' as *;

.bread-crumbs {
   padding-top: 30px;
   padding-bottom: 20px;
   margin-bottom: 30px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);

   &__body {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;

      a {
         font-weight: 500;
         font-size: 16px;
         color: #000000;
         transition: color $tr-time;

         // &:hover {
         //    color: var(--color-yellow-broom);
         // }

         @media (min-width:768px) {
            font-size: 14px;
         }
      }

      li {
         list-style: none;

         &:not(:last-child) {
            font-weight: 500;

            a:after {
               content: '>';
               margin-left: 14px;
            }
         }

         &:last-child a {
            color: var(--color-blue-crayola);
            pointer-events: none;
         }
      }

   }
}