@use '../../../scss/assets/variablesSCSS.scss' as *;

.bread-crumbs {
   padding-top: 30px;
   padding-bottom: 20px;
   margin-bottom: 30px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;

   @media (max-width:767.98px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   }

   &--border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   }


   a {
      font-weight: 500;
      font-size: 14px;
      color: #000000;
      transition: color $tr-time;
      letter-spacing: -0.01em;
      // &:hover {
      //    color: var(--color-yellow-broom);
      // }

      @media (min-width:768px) {
         font-size: 16px;
      }
   }

   li {
      list-style: none;

      &:not(:last-child) {
         font-weight: 500;

         a:after {
            content: '>';
            margin-left: 10px;
         }
      }

      &:last-child a {
         color: var(--color-blue-crayola);
         pointer-events: none;
      }
   }
}