@use '../../../scss/assets/mixin.scss' as *;

.page-title {
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   line-height: 132%;

   @media (min-width:768px) {
      margin-bottom: 40px;
   }

   @media (min-width:1100px) {
      margin-bottom: 60px;
      flex-direction: row;
   }

   h1 {
      font-family: var(--font-family-title);
      flex: 1 1 auto;
      font-size: 24px;
      letter-spacing: -0.01em;
      line-height: 132%;

      @media (min-width:768px) {
         font-size: 44px;
      }

      @media (min-width:1024px) {
         font-size: 64px;
      }
   }

   &__text {
      flex: 0 0 50%;
      font-weight: 300;
      font-size: 16px;
      line-height: 132%;

      @media (min-width:768px) {
         font-size: 20px;
      }

      @media (min-width:1100px) {
         margin-top: 20px;
      }
   }

   &__subtext {
      margin-top: 8px;
      font-weight: 300;
      font-size: 16px;
      line-height: 125%;

      @media (min-width:768px) {
         margin-top: 16px;
      }
   }
}