@use '../../../scss/assets/mixin.scss' as *;

.numbered-list {
   --width-number: 0;
   border-bottom: 1px solid #000000;

   @include size_adaptive (--width-number, 36, 188, 768, 1024);

   @media (min-width:1024px) {
      --width-number: 188px;
   }

   &:first-child {
      border-top: 1px solid #000000;
   }

   &__body {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
   }

   &__number {
      padding-top: 4px;
      padding-bottom: 4px;
      flex: 0 0 var(--width-number, 188px);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.01em;
   }

   &__content {
      padding-top: 4px;
      padding-bottom: 4px;
      flex: 1 1 auto;
   }

   &__title {
      margin-bottom: 2px;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
   }

   &__text {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.01em;
      opacity: 0.5;
   }

   &__button {
      pointer-events: none;

      @media (max-width:767.98px) {
         flex: 0 0 100%;
      }

      .js-tabs-open & {
         pointer-events: all;
      }
   }

   &__info {
      padding-bottom: 25px;
   }

   &__info-content {
      margin-left: auto;
      width: calc(100% - var(--width-number) - 16px);

      img {
         width: 100%;
      }
   }
}