.numbered-list {
   --width-number: 204px;
   border-bottom: 1px solid #000000;

   &:first-child {
      border-top: 1px solid #000000;
   }

   &__body {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
   }

   &__number {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 16px;
      flex: 0 0 var(--size-number, 204px);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.01em;
   }

   &__content {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 16px;
      flex: 1 1 auto;
   }

   &__title {
      margin-bottom: 2px;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
   }

   &__text {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.01em;
      opacity: 0.5;
   }

   &__button {
      pointer-events: none;

      .js-tabs-open & {
         pointer-events: all;
      }
   }

   &__info {
      padding-bottom: 25px;
   }

   &__info-content {
      margin-left: auto;
      width: calc(100% - var(--width-number));

      img {
         width: 100%;
      }
   }
}