@use '../../scss/assets/variablesSCSS.scss' as*;

.experience {

   &__image {
      position: relative;
      overflow: hidden;

      &:hover {
         .experience__image-cover {
            transform: translateX(-72%);
         }
      }
   }

   &__image-item {
      width: 100%;
   }

   &__image-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 77%;
      height: 100%;
      transition: transform $tr-time-l;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}