.name-section {
   display: flex;
   gap: 9px;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: -0.01em;
   color: var(--color, #000000);

   @media (min-width:1024px) {
      padding-top: 10px;
   }

   svg {
      width: 10px;

      path {
         fill: var(--color, #000000);
      }
   }
}