.decor {
   background-color: #F0F0F0;

   &__body {
      display: flex;
      flex-wrap: wrap;
      gap: 100px;
   }

   &__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
   }

   &__block-title {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: -0.01em;
   }

   &__card {
      max-width: 129px;
      display: flex;
      flex-direction: column;
      width: 129px;
      border-bottom: 1px solid #004A5E;
   }

   &__card-image {
      position: relative;
      padding-bottom: 80%;
      overflow: hidden;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__card-name {
      flex: 1 1 auto;
      padding: 8px;
      font-weight: 300;
      font-size: 13px;
      letter-spacing: -0.01em;
      background-color: #ffffff;
   }
}