.portfolio-gallery {

   &__container {}

   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr;
         row-gap: 40px;
         column-gap: 20px;
      }
   }

   &__cell {
      display: block;

      &.column-2 {
         @media (min-width:768px) {
            grid-column: span 2;
         }
      }
   }

   &__image {
      margin-bottom: 16px;
      position: relative;
      overflow: hidden;
      padding-bottom: 64%;

      @media (min-width:768px) {
         padding-bottom: min(378px, calc((100vw - var(--padding-container) * 2) * 0.315));

      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__title {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: -0.01em;
   }

   &__text {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -0.01em;
      opacity: 0.5;
   }
}