.banner-fade {
   overflow: hidden;

   &__swiper {
      --padding: 60px;
      position: relative;
   }

   &__slide {
      position: relative;
      padding-top: var(--padding, 60px);
      padding-bottom: var(--padding, 60px);
      display: flex;
      min-height: 47.916vw;
      transition: opacity 0.5s;
   }

   &__buttons {
      padding-bottom: var(--padding, 60px);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;

      .button-swiper {
         position: relative;
         z-index: 2;
      }
   }

   &__buttons-container {
      display: flex;
      justify-content: flex-end;
   }

   &__container {
      position: relative;
      z-index: 1;
      display: flex;
   }

   &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 30px;
      width: 650px;
      max-width: calc(100% - 120px);
   }

   &__title {

      font-weight: 500;
      font-size: 70px;
      line-height: 109%;
      letter-spacing: -0.01em;
      color: #ffffff;
   }

   &__text {
      font-size: 18px;
      line-height: 144%;
      color: #ffffff;
   }
}