@use '../../scss/assets/mixin.scss' as *;

.banner-fade {
   --padding: 60px;
   overflow: hidden;

   &__swiper {
      position: relative;
   }

   &__slide {
      position: relative;
      padding-top: var(--padding, 60px);
      padding-bottom: calc(var(--padding, 60px) + 30px);
      display: flex;
      min-height: 133.33vw;
      transition: opacity 0.5s;


      @include size_adaptive_vw(min-height, 133.33vw, 47.916vw, 375, 768);



      @media (min-width:768px) {
         padding-bottom: var(--padding, 60px);
         min-height: 47.916vw;
      }
   }

   &__buttons {
      padding-bottom: calc(var(--padding, 60px) - 40px);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;

      .button-swiper {
         position: relative;
         z-index: 2;
      }

      @media (max-width:767.98px) {
         .banner-fade__buttons-container {
            justify-content: center;
         }
      }

      @media (min-width:768px) {
         padding-bottom: var(--padding, 60px);
      }
   }

   &__buttons-container {
      display: flex;
      justify-content: flex-end;
   }

   &__container {
      position: relative;
      z-index: 1;
      display: flex;
   }

   &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 30px;

      @media (min-width:768px) {
         width: 650px;
         max-width: calc(100% - 120px);
      }
   }

   &__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 109%;
      letter-spacing: -0.01em;
      color: #ffffff;

      @include size_adaptive (font-size, 32, 70, 375, 768);

      @media (min-width:768px) {
         font-size: 70px;
      }
   }

   &__text {
      font-size: 18px;
      line-height: 144%;
      color: #ffffff;
   }
}