@use 'buttons';

@use '../../html/Banner-Fade/banner-fade';
@use '../../html/About-Us/about-us';
@use '../../html/Banner-Video/banner-video';
@use '../../html/Advantages/advantages';
@use '../../html/Portfolio/portfolio';
@use '../../html/Contact/contact';
@use '../../html/Experience/experience';
@use '../../html/Mobile-Menu/mobile-menu';
@use '../../html/Modal/modal';
@use '../../html/Decor/decor';
@use '../../html/Material/material';
@use '../../html/Portfolio-Gallery/portfolio-gallery';
@use '../../html/Project/project';
@use '../../html/Slider-Wide/slider-wide';
@use '../../html/Contacts/contacts';
@use '../../html/Catalog/catalog';
@use '../../html/Order-Table/order-table';
@use '../../html/News-Item/news-item';
@use '../../html/Orders/orders';
@use '../../html/Slider/swiper-block';
@use '../../html/Card-Product/card-product';
@use '../../html/Card-Product-Info/card-product-info';
@use '../../html/Download/download';
@use '../../html/Search/search';
@use '../../html/Production/production';
@use '../../html/Block-Info/block-info';
@use '../../html/Block-Team/block-team';
@use '../../html/Block-Department/block-department';
@use '../../html/Warehouse/warehouse';
@use '../../html/STM/stm';
@use '../../html/Collections/collections';
@use '../../html/Assumption/assumption';

@use '../../html/UI/Counter/counter';
@use '../../html/UI/Page-Title/page-title';
@use '../../html/UI/Button/button';
@use '../../html/UI/Bread-Crumbs/bread-crumbs';
@use '../../html/UI/Form/form';
@use '../../html/UI/Numbered-List/numbered-list';
@use '../../html/UI/Button-Swiper/button-swiper';
@use '../../html/UI/Name-Section/name-section';
@use '../../html/UI/Header-Grid/header-grid';
@use '../../html/UI/Cards/Card-Link/card-link';
@use '../../html/UI/Cards/Card-News/card-news';
@use '../../html/UI/Pagination-Page/pagination-page';
@use '../../html/UI/Filter/filter';