.assumption {
   position: relative;
   background-color: #F0F0F0;

   &__container {}

   &__body {
      margin-left: auto;

      @media (min-width:1024px) {
         width: 80%;
      }
   }

   &__title {
      margin-bottom: 8px;
   }

   &__text {
      margin-bottom: 34px;

      @media (min-width:768px) {
         margin-bottom: 76px;
      }
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__card-image {
      margin-bottom: 24px;
      position: relative;
      padding-bottom: 70%;
      overflow: hidden;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__card-text {
      font-weight: 500;
      font-size: 16px;
   }

   &__contour {
      display: none;
      position: absolute;
      left: 0;
      bottom: 100px;
      max-width: 18vw;

      @media (min-width:1024px) {
         display: block;
      }
   }
}