@use '../../scss/assets/variablesSCSS.scss' as *;

.card-product-info {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      gap: 50px;

      @media (min-width:992px) {
         flex-direction: row;
      }
   }

   &__image {
      @media (min-width:992px) {
         --margin: calc((100vw - 100%) /2);
         margin-left: calc(var(--margin) * -1);
         flex: 0 0 calc(var(--margin) + 50%);
      }
   }



   &__image-item {
      position: relative;
      padding-bottom: 71.5%;
      overflow: hidden;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      // flex: 1 1 auto;
   }

   &__ol {
      counter-reset: item;
      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: -0.01em;


      &>li {
         position: relative;
         padding-left: 30px;

         &::before {
            content: counter(item)'.';
            counter-increment: item;
            position: absolute;
            top: 0;
            left: 0;
         }
      }
   }

   &__ul {
      margin-top: 1em;

      li {
         margin-bottom: 1em;
         list-style: disc;
      }
   }
}