.collections {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      @media (min-width:992px) {
         flex-direction: row;
      }
   }

   &__contant {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;

      @media (min-width:992px) {
         flex: 0 1 590px;
         gap: 40px;
      }
   }

   &__logo {
      width: 167px;

      img {
         width: 100%;
      }
   }

   &__title {
      margin-bottom: 16px;

   }

   &__text {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 142%;

      @media (min-width:768px) {
         font-size: 24px;
      }
   }

   &__subtext {
      font-weight: 300;
      font-size: 14px;
      line-height: 162%;

      @media (min-width:768px) {
         font-size: 16px;
      }
   }

   &__image {

      @media (min-width:992px) {
         flex: 0 0 40%;
      }

      img {
         width: 100%;
      }
   }
}