@use '../assets/variablesSCSS.scss' as *;

.header {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);

   &__body {
      position: relative;
      min-height: 60px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      z-index: 5;

      @media (min-width:768px) {
         min-height: 100px;
      }

      .header__link {
         &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: transparent;
            transition: $tr-time;
         }

         &:hover::before {
            background-color: #0098c2;
         }
      }

      .header__nav-menu-body {
         position: absolute;
         top: 100%;
         left: 0;
         z-index: 10;
         width: max-content;
         max-width: 250px;
      }

      .header__nav {
         &>* {
            display: flex;
            align-items: stretch;
         }
      }
   }

   &__logo {
      display: flex;
      align-items: center;

      img {
         max-width: 100%;
      }
   }

   &__nav {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 20px;

   }

   &__link {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #004A5E;
   }

   &__menu {
      display: flex;
      align-items: center;
      gap: 6px;
   }

   &__nav-menu-wrapper {
      position: relative;
   }

   &__nav-menu-button {
      display: flex;
      align-items: center;
      gap: 4px;
      width: 100%;
   }

   &__nav-menu-button-arrow {
      transition: transform $tr-time;

      .js-tabs-open & {
         transform: rotate3d(1, 0, 0, 180deg);
      }
   }

   &__nav-menu-body {

      ol,
      ul {
         padding: 8px 16px;
         background-color: #ffffff;
         font-size: 14px;
         letter-spacing: -0.01em;
         font-weight: 300;

         li {
            &:not(:last-child) {
               margin-bottom: 4px;
            }

            a {
               display: block;
               padding-top: 8px;
               padding-bottom: 8px;
               transition: text-shadow $tr-time;
            }

            ._pc & a:hover {
               text-shadow: 0 0, 0 0;
            }
         }
      }
   }
}