@use 'variablesSCSS' as *;
@use 'mixin.scss' as *;

body {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-black);
   --padding-container: #{$padding-mobile};
   --container-width: #{$width-content};
   --max-width-container: #{$max-width-container};

   @media (min-width:768px) {
      --padding-container: #{$padding-tablet};
   }

   @media (min-width:1024px) {
      --padding-container: #{$padding-desktop};
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

// .shadow {
//    box-shadow: -3px 0 16px 0 rgba(51, 51, 51, 0.3);
// }
.mask {
   clip-path: polygon(0% 0%, 100% 37.5%, 100% 62.5%, 0% 100%, 0% 75%, 65% 50%, 0% 25%, 0% 0%);
}

[class*="container"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 100%;
   max-width: var(--max-width-container);
}

[class*="container-small"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 100%;
   max-width: 800px;
}

.padding-section {
   padding-top: 40px;
   padding-bottom: 40px;

   @include size_adaptive (padding-top, 40, 100, 375, 1024);
   @include size_adaptive (padding-bottom, 40, 100, 375, 1024);

   @media (min-width:1024px) {
      padding-top: 100px;
      padding-bottom: 100px;
   }
}

.padding-section-bottom {
   padding-bottom: 40px;
   @include size_adaptive (padding-bottom, 40, 100, 375, 1024);

   @media (min-width:1024px) {
      padding-bottom: 100px;
   }
}

.margin-section-bottom {
   margin-bottom: 40px;
   @include size_adaptive (margin-bottom, 40, 100, 375, 1024);

   @media (min-width:1024px) {
      margin-bottom: 100px;
   }
}

.title-block {
   font-family: var(--font-family-title);
   font-size: 24px;
   line-height: 119%;

   @include size_adaptive (font-size, 24, 42, 375, 768);

   @media (min-width:768px) {
      font-size: 42px;
   }

   &--margin {
      margin-bottom: 20px;

      @media (min-width:768px) {
         margin-bottom: 40px;
      }
   }
}

.contour {

   &__center,
   &__top-left {
      display: none;
      position: absolute;


      @media (min-width:768px) {
         display: block;
      }


   }

   &__top-left {
      left: 0;
      top: -30px;

      .card-production & {
         top: 50px;
      }
   }

   &__center {
      top: 50%;
      left: 0;
      transform: translateY(-50px);
   }
}

.grid {
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr;

   &.column-3 {
      --column: 3;
   }

   @media (min-width:768px) {
      grid-template-columns: repeat(var(--column, 2), 1fr);

   }

   @media (min-width:1024px) {
      grid-template-columns: repeat(var(--column, 4), 1fr);
   }
}

._pc button.link-text,
._pc a.link-text {
   text-decoration: underline;
   text-decoration-color: transparent;
   text-underline-offset: 3px;
   transition: text-decoration-color $tr-time;

   &:hover {
      text-decoration-color: inherit;
   }
}

.hidden-max768 {
   @media (max-width:767.98px) {
      display: none;
   }
}

.scroll::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   border-radius: 0px;
}

.scroll::-webkit-scrollbar-track {
   border-radius: 0px;
   background-color: rgba(0, 0, 0, 0.2);
}

.scroll::-webkit-scrollbar-thumb {
   background-color: #004A5E;
   background-clip: content-box;
   border-radius: 6px;
}

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: flex;
   transition-property: transform;
}

.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   position: relative;
   transition-property: transform;
   touch-action: pan-y;
   z-index: 1;

   &.swiper-slide-active {
      z-index: 2;
   }
}

.swiper-pagination {
   margin-top: 20px;
}

.swiper-scrollbar-horizontal {
   background-color: #DBDBDB;
   height: 9px;


}

.swiper-scrollbar-drag {
   background-color: #004A5E;
   min-height: 9px;
}

.js-tabs-shell {
   will-change: height;
   transform: translateZ(0);
   height: 0;
   overflow: hidden;
   transition: height var(--tabs-duration, 0.5s) ease;
}

.js-tabs-click,
.js-tabs-toggle {
   cursor: pointer;
}

.js-tabs-group {
   .js-tabs-open {

      .js-tabs-click,
      .js-tabs-toggle {
         cursor: auto;
      }
   }
}

.map-marker {
   cursor: pointer;
   padding: 8px;
   position: relative;
   font-size: 16px;
   color: #004A5E;
   font-weight: 700;
   border-radius: 10%;
   background-color: #ffffff;
   border: 1px solid #DBDBDB;

   &.active,
   ._pc &:hover {
      .marker-address {
         opacity: 1;
      }
   }
}

.marker-address {
   padding: 8px;
   position: absolute;
   bottom: calc(100% + 4px);
   left: 50%;
   transform: translateX(-50%);
   max-width: 120px;
   width: max-content;
   text-align: center;
   background-color: #ffffff;
   border: 1px solid #DBDBDB;
   border-radius: 10%;
   font-size: 12px;
   opacity: 0;
   transition: opacity 0.3s;
}