@use 'variablesSCSS' as *;

body {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-black);
   --padding-container: #{$padding-mobile};
   --container-width: #{$width-content};
   --max-width-container: #{$max-width-container};
   scrollbar-gutter: stable;

   @media (min-width:768px) {
      --padding-container: #{$padding-tablet};
   }

   @media (min-width:1024px) {
      --padding-container: #{$padding-desktop};
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

// .shadow {
//    box-shadow: -3px 0 16px 0 rgba(51, 51, 51, 0.3);
// }
.mask {
   clip-path: polygon(0% 0%, 100% 37.5%, 100% 62.5%, 0% 100%, 0% 75%, 65% 50%, 0% 25%, 0% 0%);
}

[class*="container"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 100%;
   max-width: var(--max-width-container);
}

.padding-section {
   padding-top: 100px;
   padding-bottom: 100px;
}

.title-block {
   font-family: var(--font-family-title);
   font-size: 42px;
   line-height: 119%;

   &:first-child {
      margin-bottom: 20px;
   }
}

.grid {
   display: grid;
   gap: 20px;
   grid-template-columns: repeat(var(--column, 4), 1fr);

   .column-3 {
      --column: 3;
   }
}

// .hidden-max1024 {
//    @media (max-width:1023.98px) {
//       display: none !important;
//    }
// }

// .hidden-max768 {
//    @media (max-width:767.98px) {
//       display: none !important;
//    }
// }

// .title-header {
//    margin-bottom: 10px;
//    font-weight: 700;
//    font-size: 18px;
//    line-height: 133%;
//    text-transform: uppercase;
//    color: var(--color-yellow-broom);

//    @media (min-width:768px) {
//       margin-bottom: 20px;
//       font-size: 20px;
//    }

//    @media (min-width:1024px) {
//       font-size: 24px;
//    }
// }

// .title-section {
//    font-weight: 700;
//    font-size: 40px;

//    @media (min-width:768px) {
//       font-size: 50px;
//    }

//    @media (min-width:1024px) {
//       font-size: 60px;
//    }
// }

// .margin-section {
//    margin-bottom: 40px;

//    @media (min-width:768px) {
//       margin-bottom: 70px;
//    }

//    @media (min-width:1024px) {
//       margin-bottom: 100px;
//    }
// }

// .scroll::-webkit-scrollbar {
//    width: 11px;
//    height: 11px;
//    border-radius: 6px;
// }

// .scroll::-webkit-scrollbar-track {
//    border-radius: 6px;
//    background-color: var(--color-lightgrey, lightgrey);
// }

// .scroll::-webkit-scrollbar-thumb {
//    background-color: var(--color-green, green);
//    background-clip: content-box;
//    border-radius: 6px;
// }

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: flex;
   transition-property: transform;
}

.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   position: relative;
   transition-property: transform;
   touch-action: pan-y;
}

.js-tabs-shell {
   will-change: height;
   transform: translateZ(0);
   height: 0;
   overflow: hidden;
   transition: height $tr-time-l ease;
}

.js-tabs-toggle {
   cursor: pointer;
}

// /* указатель количества, абсолютное позиционирование */
// [data-icon-quantity] {
//    position: relative;
//    display: block;

//    &::after {
//       content: attr(data-icon-quantity);
//       padding: 5px;
//       position: absolute;
//       top: 0;
//       right: 0;
//       transform: translate(25%, -25%);

//       min-width: 24px;
//       height: 24px;

//       display: flex;
//       align-items: center;
//       justify-content: center;

//       border-radius: 12px;
//       font-size: 12px;
//       color: var(--color-white, #ffffff);
//       background-color: var(--color-black, #000000);
//    }
// }

// /* указатель количества, в строку */
// [data-string-quantity] {
//    &::after {
//       content: " (" attr(data-string-quantity) ")";
//       color:var(--color-black, #000000);
//    }
// }