:root {
   --font-family: "Onest", sans-serif;
   --font-family-title: "Involve", sans-serif;
   --font-family-enum: "TTNormsPro", sans-serif;


   --color-white: #ffffff;
   --color-black: #222222;

   --color-modal-bg: rgba(0, 0, 0, 0.6);

   --vh: 100vh;

   @supports (height: 100dvh) {
      --vh: 100dvh;
   }

}