.contact {
   position: relative;
   --color: #ffffff;
   color: var(--color);

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__content {
      display: flex;
      align-items: center;
      max-width: 100%;

      @media (min-width:1024px) {
         max-width: min(520px, 50%);
      }

      .header-grid.no-grid .header-grid__shell {
         @media (min-width:1024px) {
            margin-top: 100px;
         }
      }
   }

   &__form {
      flex: 0 1 490px;
   }
}