.banner-video {
   position: relative;
   display: flex;
   min-height: 53.47vw;
   color: #ffffff;

   video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__container {
      display: flex;
   }

   &__content {
      padding: 55px 0;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
   }

   &__info {
      flex: 0 1 660px;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   &__title {
      font-family: var(--font-family-title);
      font-size: 42px;
      line-height: 119%;
   }

   &__text {
      font-size: 16px;
      line-height: 150%;

      p:not(:last-child) {
         margin-bottom: 1em;
      }
   }

   &__list {
      li {
         padding-top: 12px;
         padding-bottom: 12px;
         border-bottom: 1px solid #ffffff;
      }
   }
}