.contacts {

   &__body {
      display: flex;
      flex-direction: column;
      gap: 34px;
   }

   &__contant {
      flex: 0 0 min(367px, 40%);
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: space-between;
   }

   &__title {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
   }

   &__cell-title {
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: -0.01em;
      opacity: 0.45;
   }

   &__cell-button {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 20px;
      text-align: left;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #004A5E;
   }

   &__cell-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      background-color: #004A5E;
   }

   &__cell-text {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -0.01em;
   }

   &__map {
      flex: 1 1 auto;
   }

   &__map-item {
      position: relative;
      padding-bottom: 82%;

      background-color: #b4b4b4;

      @media (min-width:768px) {
         padding-bottom: 405px;
      }

      * {
         padding: 0;
      }

      .ymaps3x0--map-container {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

}