.warehouse {
   background-color: #F0F0F0;
   overflow: hidden;

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__text {
      padding-top: 20px;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 162%;

      @media (min-width:768px) {
         font-size: 24px;
         padding-top: 50px;
      }

      @media (min-width:1024px) {
         padding-bottom: 50px;
      }
   }

   &__image {
      display: flex;
      align-items: center;

      @media (min-width:1024px) {
         flex: 0 0 50%;
      }
   }

   &__image-item {
      position: relative;
      margin-left: calc((100vw - 100%) / 2 * -1);
      margin-right: calc((100vw - 100%) / 2 * -1);
      padding-bottom: calc(100VW * 0.75);
      overflow: hidden;
      width: 100vw;

      @media (min-width:1024px) {
         width: 50vw;
         margin-left: 0;
         margin-right: calc((50vw - 100%) * -1);
         padding-bottom: calc(50vw * 0.75);
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}